#about{
	@include viewport();
	@include perspective(500);
}


.about-animation {
	@include transform( rotateY(30deg) );
	position:relative;
	width:250%;
	left:-75%;
	font-size:4em;
	text-align:center;
	margin:0;
	vertical-align:bottom;

	@media #{$x-small}{
		font-size:6em;
	}
	@media #{$small}{
		font-size:8em;
	}
}


.anim {
	position:relative;
	display:inline-block;
	line-height:1;
}


.about-slogan {
	margin:0;
	font-size:1.3em;
	text-align:center;
	color:#ccc;
}

.getit {
	color:#fff;
}


.about-contact{
	display:block;
	margin:40px auto 0;
	padding:0;
	text-align:center;

	li{
		display:inline-block;
		list-style:none;
		overflow:hidden;
		margin:0 15px 0 0;
	}
}


%about-contact-method{
	position:relative;
	display:block;
	width:$social-size-mobile;
	height:$social-size-mobile;
	text-indent:-500px;
	color:#ccc;

	&:before{
		@include transition( color 800ms ease );
		text-indent:0;
		font-size:$social-size-mobile;
		margin-top:-1 * $social-size-mobile / 2;
		color:#ccc;
	}

	&:hover:before{
		@include transition( none );
		color:#fff;
	}

	@media #{$small}{
		width: $social-size-small;
		height:$social-size-small;

		&:before{
			font-size:$social-size-small;
			margin-top:-1 * $social-size-small / 2
		}
	}
}

.linkedin{
	@extend %about-contact-method;
	@include icon( '\e802' );
}
.github{
	@extend %about-contact-method;
	@include icon( '\e801' );
}

