/**
 * Clearfix
 */
@mixin clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}


/**
 * CSS Utilities
 */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform( $args... ) {
	-webkit-transform: $args;
	-moz-transition: $args;
	-ms-transform: $args;
	transform: $args;
}
@mixin box-shadow( $params... ) {
  -webkit-box-shadow:$params;
  -moz-box-shadow:$params;
  box-shadow:$params;
}
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin ok-select {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;  
}
@mixin perspective( $perspective ){
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
}


/**
 * Icons
 */
@mixin icon( $code ){
  font-style:normal;
  cursor:pointer;

  &:before{
    position:absolute;
    display:block;
    top:50%;
    width:100%;
    text-align:center;
    line-height:100%;
    font-family:'icons';
    content: $code;
  }
}