#work{
	@include viewport();
	padding:0;
}

.work-samples{
	@include transform( translate3d( 0, 0, 0 ) );
	list-style:none;
	margin:0;
	padding:0;
}

.work-sample{
	@include no-select;
	@include transition( max-height 300ms ease );
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:auto;
	min-height:$ws;
	max-height:$ws;
	overflow:hidden;
	background-color:#222;
	cursor:pointer;

	&:nth-child(2n+0){
		background-color:#1c1c1c;
	}

	&.expanded{
		max-height:1000px;
	}

	@media #{$medium} {
		@include ok-select;
		width:50%;
	}
}


.work-sample-label{
	@include transition( padding 300ms ease );
	position:relative;
	display:block;
	margin:25px 0 0;
	padding:0 25px;
	font-size:14px;
	text-transform:uppercase;
	text-shadow:3px 3px 3px #000;
	z-index:1;

	.work-sample.expanded &{
		padding:60% 25px 0;
	}
}


.work-sample-title{
	position:relative;
	padding:0 25px;
	font-size:40px;
	text-shadow:3px 3px 3px #000;
	line-height:45px;
	z-index:1;
}

.work-sample-image{
	@include transition( opacity 600ms 200ms ease );
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0;
	padding:0 0 $ws 0;
	margin:0;
	background-size:cover;
	opacity:0;

	.work-sample.opaque &{
		@include transition( opacity 1ms linear );
		opacity:0.5;		
	}

	.work-sample.expanded &,
	.work-sample.opaque.expanded &{
		opacity:1;
		padding:0 0 60% 0;
	}

	@media #{$medium} {
		.work-sample:hover &{
			@include transition( opacity 1ms linear );
			// @include box-shadow( inset 1px 1px 10px rgba(255,255,255,0.25), inset -1px -1px 10px rgba(255,255,255,0.25) );
			opacity:0.5;
		}

		.work-sample.expanded:hover &{
			opacity:1;
		}
	}
}

.work-sample-content{
	max-height:0;
	overflow:hidden;

	.work-sample.expanded &{
		max-height:1000px;
	}
}

/*
.work-samples{
	@include transform( translate3d(0, 0, 0));
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}


.work-sample-item{
	display:inline-block;
	width:100%;
	max-width:$ws;
	height:$ws;
	vertical-align:top;
	margin:0;

	@media #{$small}{
		margin:20px;
	}
}


.work-sample{
	@include transition( opacity 200ms $ws-transition );
	width:$ws;
	height:auto;
	margin:0 auto;
	text-align:center;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	cursor:pointer;
	//border:1px solid blue;

	.work-sample-active &{
		opacity:0;
	}

	&.highlighting{
		@include transition( none );
		position:fixed;
		margin:0;
		opacity:1;
		z-index:2;
	}

	&.highlighted{
		@include transition( all 200ms $ws-transition );
		width:auto;
		position:fixed;
		top:$header-height;
		right:0;
		bottom:0;
		left:0;
		width:100%;
		height:auto;
		opacity:1;
		margin:0;
		cursor:default;
		z-index:2;
	}

	&.obscuring{
		@extend .work-sample.highlighting;
		@include transition( all 200ms $ws-transition );
	}
}


.work-sample-image{
	@include transition( all 200ms $ws-transition, padding 1ms linear );
	@include box-shadow( 0 5px 10px rgba(17,17,17,0.5));
	width:$ws - 4px;
	height:auto;
	margin:0 auto;
	max-width:800px;
	//border:1px solid red;

	.highlighting &{
		margin-left:2px;
	}

	.highlighted &{
		width:100%;
		margin:75px auto 0;
	}

	@media #{$medium}{
		.highlighted &{
			margin:25px auto 0;
		}

		.work-sample:not(.highlighted):hover &{
			@include transition(none);
			@include box-shadow(0 5px 10px rgba(17,17,17,0.5), 0 12px 20px -12px #fff);
		}

	}

}


.work-sample-content{
	margin:10px auto 0;

	.highlighted &{
		width:100%;
		max-width:800px;
		margin:10px auto 40px;
	}

}


.work-sample-link{
	display:block;
	margin:0 0 25px;
	font-family:'Oswald', sans-serif;
	font-size:16px;
	padding:5px;
	border:1px solid #333;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;

	&:after{
		@include transition( left 200ms ease );
		position:relative;
		display:inline-block;
		left:0;
		content:'\00a0\00bb';
	}

	&:hover:after{
		left:10px;
	}

	&.work-sample-inception{
		&:after{
			content:'';
		}
	}
}


.work-sample-description{
	height:0;
	overflow:hidden;
	opacity:0;
	text-align:left;
	padding:25px 25px 0;
	margin:0;
	font-family:'Roboto Slab', serif;
	font-size:16px;
	line-height:1.75em;
	color:#eee;

	.highlighted &{
		@include transition( opacity 200ms $ws-transition 200ms );
		height:auto;
		opacity:1;
	}

	@media #{$medium}{
		padding:25px 50px 0;
	}
}


.back-button{
	@include transition( left 200ms 200ms ease );
	position:fixed;
	top:$header-height + 15px;
	left:-75px;
	text-transform:uppercase;
	padding:10px;
	font-size:16px;
	cursor:pointer;
	z-index:3;
	background-color:rgba(0,0,0,0.4);

	.work-sample-active &{
		left:15px;
	}
}
*/