#work{
	@include viewport();
	padding:25px 0;

	@media #{$medium}{
		padding:25px;
	}
}

.work-samples{
	@include transform( translate3d( 0, 0, 0 ) );
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
}

.work-sample{
	position:relative; // So content can be absolutely positioned
	display:block;
	width:100%;
	max-height:$ws;
	padding:20px;
	overflow:hidden;
	margin-bottom:20px;
	z-index:1; // To prevent weird layering when expanding
	
	&.expanded{
		max-height:10000px;
	}

	@media #{$medium} {
		@include ok-select;
		width:50%;
	}
}

.work-sample-illustration{
	margin:0;
}

.work-sample-image{
	position:relative; // To cast box-shadow on content
	width:100%;
	height:auto;
	cursor:pointer;

	.expanded &{
		@include box-shadow( 0 5px 10px rgba(0,0,0,0.25));
		z-index:2;
	}
}

.work-sample-content{
	@include box-shadow( 5px -2px 5px rgba(0,0,0,0.2));
	@include transition( background-color 300ms ease );
	position:absolute;
	bottom:-1px;
	left:auto;
	background-color:#222;
	border-top-right-radius:20px;
	padding:10px 20px 10px 10px;

	.expanded &{
		@include box-shadow( none );
		position:relative;
		top:-5px;
		bottom:auto;
		border-top-right-radius:0px;
		background-color:#333;
		padding:20px;
	}
}
.work-sample-label{
	display:block;
	padding:0;
	font-size:14px;
	text-transform:uppercase;
	color:#999;
}

.work-sample-title{
	font-size:30px;
	line-height:40px;
	margin-top:5px;
	cursor:pointer;

	.expanded &{
		cursor:default;
	}
}

.work-sample-description{
	display:none;
	margin:25px 0 0;
	font-family:'Roboto Slab', Georgia, serif;
	font-size:16px;
	line-height:24px;
	color:#ededed;

	.expanded &{
		display:block;
	}
}

.work-sample-menu{
	display:none;
	padding:0;
	margin:25px 0;

	.work-sample.expanded &{
		display:block;
	}

	a{
		position:relative;
		padding:5px 15px 5px 40px;
		border:1px solid #999;
		margin:0 10px 0 0;
		font-family:'Oswald', sans-serif;
		font-size:16px;
		text-transform:uppercase;
		text-decoration:none;

		&:before{
			text-align:left;
			font-size:20px;
			margin:-10px 0 0 10px;
		}

		&:hover{
			background-color:#111;
		}
	}
}

.work-sample-menu-close{
	@include icon( '\e804' );
}

.work-sample-menu-visit{
	@include icon( '\e805' );
}