
.icon-menu:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-right-circled:before { content: '\e805'; } /* '' */
.icon-angle-circled-down:before { content: '\e806'; } /* '' */